{% load thumbnail %}
{% load i18n %}
{% load cart %}

{% cart as cart %}
<a class="icon-cart" href="#">
    <i class="pe-7s-shopbag"></i>
    {% if cart %}<span class="handicraft-count">{{ cart|length }}</span>{% endif %}
</a>

<ul class="cart-dropdown">
    {% for cart_product_id, cart_product in cart.items %}
    <li class="single-product-cart">
        <div class="cart-img">
            <a href="{{  cart_product.image.image.url }}">
                {% thumbnail cart_product.image.image '85x85' crop='center' as img %}
                <img src="{{ img.url }}" alt="{{ cart_product.title }}">
                {% endthumbnail %}
            </a>
        </div>
        <div class="cart-title">
            <h5><a href="{% url 'catalog:product' cart_product_id %}">{{ cart_product.title }}</a></h5>
            <p>{{ cart_product.price }}×{{ cart_product.quantity }}</p>
        </div>
        <form class="cart-delete" method="post" action="{% url 'cart:remove' product_id=cart_product_id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <button type="submit"><i class="ti-trash"></i></button>
        </form>
    </li>
    {% endfor %}
    <li class="cart-space">
        <div class="cart-sub">
            <h4>{% trans 'Subtotal' %}</h4>
        </div>
        <div class="cart-price">
            <h4>{{ cart|subtotal }}</h4>
        </div>
    </li>
    <li class="cart-btn-wrapper">
        <a class="cart-btn btn-hover" href="{% url 'cart:list' %}">{% trans 'View cart' %}</a>
        <a class="cart-btn btn-hover" href="#">{% trans 'Checkout' %}</a>
    </li>
</ul>