{% extends 'bootstrap4/bootstrap4.html' %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap4_title %}isletworkshop{% endblock %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
    <link rel="stylesheet" href="{% static 'css/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slinky.min.css' %}">
    {# fonts #}
    <link rel="stylesheet" href="{% static 'css/roboto.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
    {# theme #}
    <link rel="stylesheet" href="{% static 'css/bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    {# custom #}
    <link rel="stylesheet" href="{% static 'css/isletworkshop.css' %}">
{% endblock %}

{% block bootstrap4_content %}
    <header>
    {% block content_header %}
        <div class="header-bottom wrapper-padding-2 res-header-sm">
            <div class="container-fluid">
                <div class="header-bottom-wrapper">
                    <div class="logo-2 ptb-50">
                        <a href="/">
                            <img src="{% static 'img/logo.png' %}" alt="{% trans 'Start page' %}">
                        </a>
                    </div>
                    <div class="menu-style-2 handicraft-menu menu-hover">
                        <nav>
                            {% include 'include/main_menu.html' %}
                        </nav>
                    </div>
                    <div class="handicraft-search-cart">
                        <div class="header-cart-4">
                            {% block cart %}
                            {% include 'include/cart.html' %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
        <div class="header-bottom-furniture wrapper-padding-2 border-top-3 border-bottom-2">
            <div class="container-fluid">
                <div class="furniture-bottom-wrapper">
                    <div class="furniture-wishlist">
                        {% block breadcrumbs %}
                        {% include 'include/breadcrumbs.html' %}
                        {% endblock %}
                    </div>
                    <div class="furniture-search">
                        {% include 'include/search.html' %}
                    </div>
                    <div class="furniture-login">
                        {% include 'include/user.html' %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer class="footer-area">
    {% block content_footer %}
        <div class="footer-bottom ptb-20 border-top-2">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="copyright-handicraft">
                            <p>Copyright © <a href="https://hastech.company/">HasTech</a> 2018 . All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </footer>
{% endblock %}

{% block bootstrap4_extra_script %}
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/easyzoom.js'%}"></script>
    <script src="{% static 'js/jquery.meanmenu.min.js'%}"></script>
    <script src="{% static 'js/slinky.min.js'%}"></script>
{% endblock %}