{% extends 'bootstrap4/bootstrap4.html' %}
{% load staticfiles %}
{% load i18n %}

{% block bootstrap4_extra_head %}
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
    <link rel="stylesheet" href="{% static 'css/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slinky.min.css' %}">
    {# fonts #}
    <link rel="stylesheet" href="{% static 'css/roboto.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pe-icon-7-stroke.css' %}">
    {# custom #}
    <link rel="stylesheet" href="{% static 'css/bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
{% endblock %}

{% block bootstrap4_content %}
    <header>
    {% block content_header %}
        <div class="header-bottom wrapper-padding-2 res-header-sm">
            <div class="container-fluid">
                <div class="header-bottom-wrapper">
                    <div class="logo-2 ptb-50">
                        <a href="/">
                            <img src="{% static 'img/logo.png' %}" alt="{% trans 'Start page' %}">
                        </a>
                    </div>
                    <div class="menu-style-2 handicraft-menu menu-hover">
                        <nav>
                            <ul>
                                <li><a href="#">Lorem</a></li>
                                <li><a href="#">Ipsum</a></li>
                                <li>
                                    <a href="#">Dolor</a>
                                    <ul class="single-dropdown">
                                        <li><a href="#">sit</a></li>
                                        <li><a href="#">amet</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="handicraft-search-cart">
                        <div class="handicraft-search">
                            <button class="search-toggle">
                                <i class="pe-7s-search s-open"></i>
                                <i class="pe-7s-close s-close"></i>
                            </button>
                            <div class="handicraft-content">
                                <form action="#">
                                    <input placeholder="Search" type="text">
                                </form>
                            </div>
                        </div>
                        <div class="header-cart-4">
                            <a class="icon-cart" href="#">
                                <i class="pe-7s-shopbag"></i>
                                <span class="handicraft-count">1</span>
                            </a>
                            <ul class="cart-dropdown">
                                <li class="single-product-cart">
                                    <div class="cart-img">
                                        <a href="#"><img src="assets/img/cart/1.jpg" alt=""></a>
                                    </div>
                                    <div class="cart-title">
                                        <h5><a href="#"> Bits Headphone</a></h5>
                                        <h6><a href="#">Black</a></h6>
                                        <span>$0.00 x 1</span>
                                    </div>
                                    <div class="cart-delete">
                                        <a href="#"><i class="ti-trash"></i></a>
                                    </div>
                                </li>
                                <li class="cart-space">
                                    <div class="cart-sub">
                                        <h4>Subtotal</h4>
                                    </div>
                                    <div class="cart-price">
                                        <h4>$0.00</h4>
                                    </div>
                                </li>
                                <li class="cart-btn-wrapper">
                                    <a class="cart-btn btn-hover" href="#">view cart</a>
                                    <a class="cart-btn btn-hover" href="#">checkout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </header>
{% endblock %}

{% block bootstrap4_extra_script %}
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'js/easyzoom.js'%}"></script>
    <script src="{% static 'js/jquery.meanmenu.min.js'%}"></script>
    <script src="{% static 'js/slinky.min.js'%}"></script>
{% endblock %}